* {
    font-family: "Times New Roman", Verdana, Georgia, sans-serif;
    background-color: #A6E3E9;
}

#alfredo-pasta,
#tuna-sandwich { 
    width: auto;
    height: 400px;
}

.ingredients li,
.directions li {
    font-family: "Courier New", sans-serif;
    font-weight: 300;
}

.homepage {
    text-align: center;
}
